.features
  .container
    .features__grid.pure-g
      .pure-u-1.pure-u-lg-7-12.pure-u-xl-7-12.features__col-left
        h2.title.title--features
          | 30 практических заданий, которые приведут вас к любимому делу
        p
          | Мы сами работали в разных сферах, опробовали на себе огромное количество упражнений и тестов по поиску себя в профессиональной деятельности, прочли множество книг по психологии и самореализации, собрали самое ценное из проведенных интервью и проконсультировали сотни людей, чтобы найти то, что работает. Так родился сначала наш курс по поиску своего любимого дела, а впоследствии данная книга-тренинг.
        p
          | Задания в книге разбиты на 7 блоков. Вы начинаете с понимания ваших истинных целей и ценностей, затем анализируете накопленный профессиональный багаж, заглядываете в свое детство, спрашиваете взгляда со стороны, проецируете себя в будущем, выбираете 3-5 профессий для тестирования, строите карьерные траектории и шаг за шагом внедряете их в жизнь.

        p
          | <b>Посмотрите <span class="highlight cur-pointer" data-micromodal-trigger="modal-exercises">примеры заданий</span></b>

      .pure-u-1.pure-u-lg-5-12.pure-u-xl-1-3.features__col-right
        h2.title.title--features Удобство
        p
          | Не нужно никуда ходить, ведь эта онлайн книга собрала в себе все, чтобы помочь вам узнать себя и выбрать свою профессию по любви. Работая над выполнением практик и заданий самостоятельно, вы можете двигаться в своем ритме. Мы, правда, советуем вам поставить себе срок - лучше месяц, за который вы выполните все предложенные этапы. 