include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(rel="stylesheet" type='text/css' href="css/styles.min.css")
    script(src="libs/prefixfree/prefixfree.min.js")
    script(src="libs/prefixfree/prefixfree.dynamic-dom.min.js")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    .wrapper
      include ../modules/header/header
      .content
        block content
      include ../modules/footer/footer
      include ../modules/modals/example
      include ../modules/modals/exercises
      include ../modules/modals/book
      include ../modules/modals/consultation
      include ../modules/modals/pack-1
      include ../modules/modals/pack-2
      include ../modules/modals/pack-3
      include ../modules/modals/pack-4
      include ../modules/modals/respond
      include ../modules/svg/sprite
    script(src="js/jquery-3.3.1.min.js")
    script(src="libs/slick/slick.min.js")
    script(src="libs/micromodal/micromodal.min.js")
    script(src="libs/smooth-scroll/smooth-scroll.polyfills.min.js")
    script(src="js/main.js")
    block script