/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

html {
  width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
}

body.is-overflowed,
html.is-overflowed {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

svg:not(:root) {
  overflow: hidden;
}


::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  overflow: auto;
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: inherit;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

del {
  text-decoration: line-through;
}

p {
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: 80em) {
    margin-bottom: 36px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;

  @media (min-width: 62em) {
    padding-top: 72px;
  }
  
  @media (min-width: 80em) {
    padding-top: 80px;
  }
  
  @media (min-width: 90em) {
    padding-top: 152px;
  }
}

.content {
  flex: 1 1 auto;

  .services-page &,
  .contacts-page & {
    padding-top: 20px;
  }

  .contacts-page & {
    padding-bottom: 80px;
  }

  &__inner {
    position: relative;
  }

  &__lead {

    &--services {
      max-width: 590px;
      margin-bottom: 25px;

      @media (min-width: 48em) {
        margin-bottom: 60px;
      }

      @media (min-width: 62em) {
        margin-bottom: 80px;
      }

      @media (min-width: 80em) {
        margin-bottom: 100px;
      }

      @media (min-width: 90em) {
        margin-bottom: 130px;
      }
    }
  
    &--contacts {
      max-width: 390px;
      padding-top: 8px;
    }
  }
}


