.banner.banner--main
  .container
    .banner__inner
      .banner__img
        <svg class="banner__img-svg">
          <use xlink:href="#abstract-2"></use>
        </svg>
      .banner__grid
        .banner__col.banner__col-left
          h2.title.title--banner 
            | Специальное предложение к выходу книги
          p
            | При покупке книги до 1 июля вы получаете возможность в течение недели бесплатно проходить <span class="highlight">курс с нашей обратной связью.</span>
        .banner__col.banner__col-right
          h2.title.title--banner.title--banner-smaller
            | Онлайн книга-тренинг
            br
            | «Профессия по любви»
          button.button.button--stack(
            data-micromodal-trigger="modal-book"
          )
            | Купить за 990₽

