.banner.banner--services
  .container
    .banner__inner
      .banner__grid
        .banner__col.banner__col-left
          h2.title.title--banner 
            | Специальная возможность
          p.m-0
            | Есть вопрос? Запишитесь на бесплатную 15-минутную
            br
            | консультацию с автором проекта.
        .banner__col.banner__col-right
          
          button.button.button--stack(
            data-micromodal-trigger="modal-advice"
          ) Записаться
