.banner.banner--services
  .container
    .banner__inner
      .banner__grid.pure-g
        .pure-u-1.pure-u-lg-7-12.banner__col-left
          h2.title.title--banner 
            | Специальная возможность
          p
            | Есть вопрос? Запишитесь на бесплатную 15-минутную консультацию с автором проекта.
        .pure-u-1.pure-u-lg-5-12.banner__col-right
          
          button.button.button--stack(
            data-micromodal-trigger="modal-advice"
          ) Записаться
