.container
  .content__inner
    .service__img
      <svg class="service__img-svg">
        <use xlink:href="#abstract-2"></use>
      </svg>
    h1.title.title--services
      | Услуги для углубленного исследования
    p.content__lead.content__lead--services
      | На удивительной дороге выбора любимого дела вам может понадобиться помощь, поддержка. На этот случай мы рады быть вашими проводниками. Каждая история, каждая профессиональная траектория - уникальна, и мы рады вместе с вами искать тот путь, который подойдет именно вам.
    
    p.service__pre
      | Мы подготовили для вас 4 возможных формата нашей помощи - выберете тот, который подходит сейчас вам больше всего:
    
    .service.service--first
      h2.service-title
        span.service-title__num #1
        span.service-title__text
          | Пакет «Диагностика ваших ответов
          br
          | и рекомендации по профессиям»
      p.service__lead
        | Если вы уже выполнили большинство практик, предложенных в нашей книге «Профессия по любви», и хотели бы получить нашу письменную обратную связь, то этот пакет для вас. Для получения нашего аудита с перечнем подходящих профессий, вам нужно выполнить следующие простые три шага:
      .service__grid
        .service__col.service__col--left
          ul.service__ul
            li.service__li
              | Сохраните выполненные вами задания в онлайн версии. Мы рекомендуем использовать для этого онайн-книгу, но и другие форматы (Google docs, word, фото) подойдут. 
            li.service__li
              | Отправьте выполненные вами задания нам на <a class="highlight" href="mailto:hi@earninlove.com">hi@earninlove.com</a>.
            li.service__li
              | Оплатите данный пакет и получите наши наблюдения, анализ и выводы в письменной форме с гарантированным предложением от 3 до 5 возможных профессий по любви. А также пояснениями, как вы можете проверить их на практике.
        
        .service__col.service__col--right
          p
            | <b>Посмотрите <span class="highlight cur-pointer" data-micromodal-trigger="modal-example">пример разбора</span>, который вы получаете в результате нашего анализа</b>
          p
            | Срок ~2 недели с момента отправления ваших ответов на анализ.

          p
            | <span class="highlight highlight--secondary ">Скидка 2 000₽ до 1 июля</span>

          button.button.button--stack(
            data-micromodal-trigger="modal-pack-1"
          )
            | Купить за <del>9 000₽</del> 7 000₽

    .service__pre
      | Следующие 3 пакета услуг подойдут тем, кто желает нашей поддержки и обратной связи уже на этапе выполнения заданий «Профессия по любви»:
    .service
      h2.service__title.service-title
        span.service-title__num #2
        span.service-title__text
          | Пакет Лайт: «Онлайн курс без
          br
          | обратной связи»
      p.service__lead
        | Вы будете подключены к онлайн группе, где будете постепенно получать от нас главные задания по поиску профессии по любви. У вас будет доступ к нашим пояснениям, описаниям предлагаемых практик (аудио, видео, текст). Мы будем также рассказывать о возможном самостоятельном разборе выполненных заданий, делиться своим опытом.
      .service__grid
        .service__col.service__col--left
          p
            | <b>Данный пакет не включает нашей обратной связи по выполняемым вами заданиями, а рассчитан на вашу самостоятельную работу.</b>
          p
            | PS: при желании вы можете перейти к <span class="highlight">продвинутому уровню курса</span> с получением нашей обратной связи или же купить <span class="highlight">пакет письменной обратной связи</span>
        
        .service__col.service__col--right
          p
            | Срок ~1 месяц с момента запуска курса (проводится раз в 3 месяца)

          p
            | <span class="highlight highlight--secondary ">Скидка 2 000₽ до 1 июля</span>

          button.button.button--stack(
            data-micromodal-trigger="modal-pack-2"
          )
            | Купить за <del>4 800₽</del> 2 800₽

    .service
      span.service__pack-point#pack3
      h2.service__title.service-title
        span.service-title__num #3
        span.service-title__text
          | Пакет Базовый: «Онлайн курс
          br
          | с регулярной обратной связью»

      p.service__lead
        | Вы будете не только иметь доступ к закрытой группе, где будете постепенно получать от нас пояснения, описания главных заданий по поиску профессии по любви, но также будете получать обратную связь сразу по ходу курса. У вас будет также уникальная возможность общаться с интересными людьми, которые, как и вы, ищут свое любимое дело.
      .service__grid
        .service__col.service__col--left
          p
            | <b>Мы поможем вам определить гарантированно от 3 до 5 подходящих вам профессий и путь их тестирования на практике.</b>
        
        .service__col.service__col--right
          p
            | Срок ~1 месяц с момента запуска курса (проводится раз в 3 месяца)

          p
            | <span class="highlight highlight--secondary ">Скидка 7 000₽ до 1 июля</span>

          button.button.button--stack(
            data-micromodal-trigger="modal-pack-3"
          )
            | Купить за <del>19 900₽</del> 12 900₽
    
    .service.service--last
      h2.service__title.service-title
        span.service-title__num #4
        span.service-title__text
          | Пакет Премиум: «Онлайн курс
          br
          | с индивидуальными консультациями
          br
          | с авторами книги»

      p.service__lead
        | ВПомимо полноценного доступа к онлайн курсу, вы получаете возможность лично пообщаться с основателями проекта, разобраться вместе в вашей ситуации и выстроить карту вашего карьерного развития с возможными 3-5 профессиями по любви на тестирование.

      .service__grid
        .service__col.service__col--left
          p
            | <b>У вас есть уникальная возможность поработать с нами, авторами книги «Профессия по любви», лично (4 онлайн-встречи).</b>
        
        .service__col.service__col--right
          p
            | Срок от 2 до 6 недель, в зависимости от скорости выполнения упражнений и частоты онлайн встреч.

          p
            | <span class="highlight highlight--secondary ">Скидка 20 000₽ до 1 июля</span>

          button.button.button--stack(
            data-micromodal-trigger="modal-pack-4"
          )
            | Купить за <del>59 000₽</del> 39 000₽

    
    

