// Colors
$primary-color: #91dccf;
$secondary-color: #ffe14f;
$text-color: #000;
$patina: #5d978d;
$sunset-orange: #ff5252;
$silver: #bfbfbf;

// Fonts
$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Lucida Grande', sans-serif;


// Sizes for fluid typography
$min_width: 320px;
$max_width: 1440px;
