section.authors
  .container
    .authors__grid.pure-g
      .pure-u-1.pure-u-lg-1-3.authors__col-left
        h2.title.title--authors Авторы
        p
          | Мир постоянно меняется, профессии устаревают и исчезают, но появляются новые интересные возможности.
        p
          | Нам, авторам данной книги, очевидно, что если понимать и идти к своей цели, то обязательно ее достигнешь.
        p
          | На двоих у нас 5 высших образований — от IT до маркетинга, экономики и психологии, а также десятки курсов по самым разным дисциплинам, например, ораторскому искусству, дизайну и актерскому мастерству. Мы жили и работали во множестве стран (Россия, США, Франция, Великобритания, Австралия, Португалия, Польша) и знаем на собственном опыте, как заниматься любимым делом в любой точке мира. А также как зарабатывать столько, сколько хочется, создавать бизнес с нуля, проводить краудфандинг, бесплатно учиться за рубежом и устраиваться на работу своей мечты в любой стране.

        .authors__img
          <svg class="authors__img-svg">
            <use xlink:href="#abstract-1"></use>
          </svg>
      
      .pure-u-1.pure-u-lg-2-3.authors__col-right
        figure.authors__picture
          img(src="img/general/authors.jpg", alt="")
        .authors__grid-inner
          .authors__col-inner
            h3.title.title--author <span>Л.Ребиндер</span>
            p.padded-multiline
              span
                | Живет и работает между Европой и Австралией. Помогает компаниям и инвестиционным фондам выстроить стратегии развития, топ-менеджменту карьерные пути и устраивает бизнес-консультантов на проекты в разных странах. Проводит индивидуальные и групповые сессии как психолог и карьерный консультант. Позади годы в маркетинге, инженерии и стратегическом консалтинге.
            p.padded-multiline
              span
                | Образование: МГТУ им. Баумана (ИТ), Школа передовых технологий в Париже (Системы производства), Сорбонна в Париже (Международная экономика), МГУ (Психология) Девиз: Жить своей жизнью сейчас.

            p.authors__site <b><a class="highlight" href="http://milarehbinder.ru/" target="_blank" rel="noopener">www.milarehbinder.ru</a></b>
          
          .authors__col-inner.authors__col-inner--right
            h3.title.title--author <span>Н.Тарасова</span>
            p.padded-multiline
              span
                |  Сейчас проживает в США Автор проекта и одноименной книги о профессионалах «На своем месте». Провела свыше 200 интервью с лучшими представителями разных профессий. Автор исследований по влиянию ВУЗов на будущее студентов. Старт-ап маркетолог, вывела на российский рынок подарки-впечатления, франшизу Чемпионика (номер 1 по версии Форбс), автор многочисленных статей и выступлений по маркетингу и профессиональному самоопределению.
            p.padded-multiline
              span
                | Образование: ВМиК МГУ, Маркетинг Менеджмент ГУ ВШЭ
            p.authors__site <b><a class="highlight" href="http://intherightplace.ru/" target="_blank" rel="noopener">www.intherightplace.ru</a></b>




