section.readers
  .container
    h2.title.title--readers Читатели
    .slider__wrapper.slider__wrapper--readers
      .readers__slider.js-readers-slider
        .readers-item
          .readers-item__content
            .readers-item__img
              img(src="img/content/readers/img-1.png", alt="")
              <svg class="icon icon-arrow- icon-quote icon-quote--readers">
                <use xlink:href="#quote"></use>
              </svg>
            h3.readers-item__name Катя
            p.readers-item__text
              | «Я прошла полный курс “Профессия по любви”, который помог мне найти новую, интересную именно мне работу. Мила и Надя сопровождали меня, и я им благодарна. Я периодически возвращаюсь к списку желаний и заданиям курса. Что-то переосмысливаю, добавляю или редактирую. Этот курс стал также моим первым этапом в пути по поиску себя».
        .readers-item
          .readers-item__content
            .readers-item__img
              img(src="img/content/readers/img-2.png", alt="")
              <svg class="icon icon-arrow- icon-quote icon-quote--readers">
                <use xlink:href="#quote"></use>
              </svg>
            h3.readers-item__name Валерия
            p.readers-item__text
              | «Мила — суперэффективный психолог, и с одной сессии все получается). Буквально спустя неделю, как я ответила после нашей сессии на предложенные Милой упражнения, меня нашла новая работа. У меня ощущение, что я прыгнула выше головы, но я — счастлива».
        .readers-item
          .readers-item__content
            .readers-item__img
              img(src="img/content/readers/img-3.png", alt="")
              <svg class="icon icon-arrow- icon-quote icon-quote--readers">
                <use xlink:href="#quote"></use>
              </svg>
            h3.readers-item__name Вера
            p.readers-item__text
              | «Наде даровано чувствовать людей и направлять на самый интересный жизненный путь. Муза-Вдохновительница  всегда знает и чувствует как можно улучшить жизнь! И всё, что мне Надя советовала и я делала -  сбывалось, удивительные чудеса происходят!»
        .readers-item
          .readers-item__content
            .readers-item__img
              img(src="img/content/readers/img-1.png", alt="")
              <svg class="icon icon-arrow- icon-quote icon-quote--readers">
                <use xlink:href="#quote"></use>
              </svg>
            h3.readers-item__name Катя
            p.readers-item__text
              | «Я прошла полный курс “Профессия по любви”, который помог мне найти новую, интересную именно мне работу. Мила и Надя сопровождали меня, и я им благодарна. Я периодически возвращаюсь к списку желаний и заданиям курса. Что-то переосмысливаю, добавляю или редактирую. Этот курс стал также моим первым этапом в пути по поиску себя».
        .readers-item
          .readers-item__content
            .readers-item__img
              img(src="img/content/readers/img-2.png", alt="")
              <svg class="icon icon-arrow- icon-quote icon-quote--readers">
                <use xlink:href="#quote"></use>
              </svg>
            h3.readers-item__name Валерия
            p.readers-item__text
              | «Мила — суперэффективный психолог, и с одной сессии все получается). Буквально спустя неделю, как я ответила после нашей сессии на предложенные Милой упражнения, меня нашла новая работа. У меня ощущение, что я прыгнула выше головы, но я — счастлива».
        .readers-item
          .readers-item__content
            .readers-item__img
              img(src="img/content/readers/img-3.png", alt="")
              <svg class="icon icon-arrow- icon-quote icon-quote--readers">
                <use xlink:href="#quote"></use>
              </svg>
            h3.readers-item__name Вера
            p.readers-item__text
              | «Наде даровано чувствовать людей и направлять на самый интересный жизненный путь. Муза-Вдохновительница  всегда знает и чувствует как можно улучшить жизнь! И всё, что мне Надя советовала и я делала -  сбывалось, удивительные чудеса происходят!»
        
      .slider-nav.slider-nav--readers.js-nav-readers
        button.slider-nav__btn.slider-nav__btn--prev
          <svg class="icon icon-arrow-left">
            <use xlink:href="#arrow-left"></use>
          </svg>
        button.slider-nav__btn.slider-nav__btn--next
          <svg class="icon icon-arrow-right">
            <use xlink:href="#arrow-right"></use>
          </svg>

