.modal.modal--example#modal-example(aria-hidden='true')
  .modal__overlay(tabindex='-1', data-micromodal-close)
    .modal__container.container(role='dialog', aria-modal='true')
      button.modal__close(aria-label='Закрыть попап', data-micromodal-close)
      main.modal__content.example

        h2.title.title--example
          | Пример разбора, который вы получаете в результате нашего анализа:
        p.example__lead
          | Реальные факты изменены
          br
          | в связи вопросом
          br
          | конфиденциальности
        
        h3.title.title--example.title--example-second
          | Обратная связь и рекомендации
        h4.example__subtitle
          | Общие наблюдения
        .example__desc
          p
            | Дорогой участник курса, спасибо за работу по курсу - честную, быструю и глубокую! Мы были рады познакомиться с таким разносторонним и эрудированным человеком. Эти редкие сегодня качества позволяют вам искать свое новое профессиональное поприще на стыке нескольких профессий, где важен широкий кругозор, эрудированность, а также ваши лидерские качества и профессиональные умения. По ответам ваших друзей и знакомых мы видим, что вас воспринимают как ответственного и порядочного человек, на которого всегда можно положиться. Вы - хороший руководитель с холодной головой, который может и организовать, и делегировать, и объяснить, и подключиться к любой задаче. Также очень важным качеством является твое стремление хитростью, волей и решимостью склонить всех в нужное для компании/ дела направление. Это важное качество для руководителя и «серого» кардинала (негласного лидера компании).
          p
            | Ты - добрый, щедрый, отзывчивый и эмпатичный. Ты можешь внимательно выслушать человека и помочь найти возможные решения проблемы. Это позволяет рассмотреть варианты с профессиями в области управления людьми, формирования команды, наставничества.  
          p
            | Ты любишь общаться/ знакомиться с разными интересными людьми, поэтому профессии, связанные с общением с большим количеством людей, такие как учитель, экскурсовод и руководитель, могут тебе подойти. Но для тебя также важно свое пространство и время, проведенное с самим собой, поэтому стоит соблюдать баланс между профессиональной деятельностью и личным временем.
          p
            | Ты - смелый и не боишься пробовать, поэтому мы уверены, что ты сможешь легко начать и добиться большого успеха в новом деле, которое выберешь. Также ты уделяешь время для своего развития и познания себя, оставаясь открытым, в том числе к новым направлениям в своей профессиональной жизни. 
          p
            | У тебя есть значимые люди в твоей жизни, входящие в твою «маленькую семью». По упражнениям мы узнаем о 11-летней дочке, «красавице и умнице». Также мы слышим об отце, который является твои героем и примером.  Удовлетворенность в зоне «маленькая семья», которая входит в топ-3 самых важных зон, связана с переездом в Португалию. Что в свою очередь зависит от твоего «будущего» и « развития личности». Поиск любимого дела тесно связан для тебя, в том числе, с вопросами обеспечения финансовой стабильности/ уверенности и получения ежедневного удовлетворения  от деятельности.
          p
            | Исходя из твоих ключевых целей, тебе необходимо выстроить свое развитие в профессиональной деятельности таким образом, чтобы за 2 года (времени до планируемого переезда в Португалию) подготовить переход аккомпанирования своих клиентов в финансовой сфере в онлайн/ ремоут формат и наработать базу для своего продвижения в новой выбранной сфере деятельности.  

        h4.example__subtitle.example__subtitle--second
          | Предложения по профессиям и как их протестировать на практике
        p.example__sub Варианты профессий для тебя:
        .example__desc
          ul.example__ol
            li.example__o-li <b>1. Создатель авторских экскурсий</b> в разных странах мира
              ul.example__ul
                li.example__u-li
                  | Провести несколько необычных экскурсий для «своих» в России
                li.example__u-li
                  | Снять видео-контент, понять самому, насколько это интересно и комфортно
                li.example__u-li
                  | Пообщаться с экскурсоводами из разных стран с авторскими экскурсиями  - узнать, как у них обстоят дела
                li.example__u-li
                  | Если первые шаги пройдены успешно и хочется двигаться дальше, то получить лицензию экскурсовода (в ЕС нужно сдавать экзамены)
            
            li.example__o-li <b>2. Учитель</b>
              ul.example__ul
                li.example__u-li
                  | Запустить сейчас свой курс, попробовав себя в новой роли.
                li.example__u-li
                  | К примеру, сделать курс, по бухгалтерской сфере, которую ты хорошо знаешь или сразу сделать курс по философии - площадок много, где их можно запустить
                li.example__u-li
                  | Требования к преподавателю русского языка можно почитать <a class="link-underline" href="#" target="_blank" rel="noopener">здесь</a>.
                li.example__u-li
                  | Можно начать с <a class="link-underline" href="#" target="_blank" rel="noopener">частного репетиторства</a> (в том числе, есть люди с экономическим образованием, которые преподают философию). 
                li.example__u-li
                  | Если после всех тестов станет понятно, что работа с подростками интересна, тогда можно уже параллельно получить какую-то «корочку» по преподавательской деятельности

            li.example__o-li <b>3. Консультант в бухгалтерской сфере</b>
              ul.example__ul
                li.example__u-li
                  | Построить хороший linkedIn профайл с детальным описание профессионального опыта
                li.example__u-li
                  | Зарегистрироваться на сайтах с консультантами

            li.example__o-li <b>4. Авторский канал на Youtube</b> по интересующим темам (увлекательная философия)
              ul.example__ul
                li.example__u-li
                  | Полезное время препровождение в сети
                li.example__u-li
                  | Сбор единомышленников
                li.example__u-li
                  | Возможность потом запустить свой проект на этой платформе
                li.example__u-li
                  | Возможность вести канал из любой точки мира
                li.example__u-li
                  | Небольшой доп.доход от рекламы своего онлайн-курса или продукции других компанией с ЦА твоего канала
            
            li.example__o-li <b>5. Наставник, co-founder для стартапа в финансовом секторе</b>
              ul.example__ul
                li.example__u-li
                  | Твой опыт, как профессиональный, так и жизненный, а также стремление создавать новое и умение откидывать лишнее сможет стать бесценной помощью для тех, кто создает свой старта-ап. Ты мог бы работать с ними периодически, проводя стратегические сессии и улучшая продукт, решая конфликтные вопросы в команде. Эта деятельность может в будущем принести приличные дивиденды, а тебе максимально реализовать свой опыт и потенциал. Поискать партнеров можно тут.

          p
            | Также обрати внимание, что не обязательно выбрать одно направление. Ты вполне сможешь летом поехать на раскопки, зимой проводить экскурсии, круглогодично учить удаленно детей и взрослых истории и т.п. 


