.modal.modal--exercises#modal-exercises(aria-hidden='true')
  .modal__overlay(tabindex='-1', data-micromodal-close)
    .modal__container.container(role='dialog', aria-modal='true')
      button.modal__close(aria-label='Закрыть попап', data-micromodal-close)
      main.modal__content.exercises

        h2.title.title--exercises
          | Упражнение 3.4. Ищем улики: книги, фильмы, журналы, сообщества в соц.сетях как отражение ваших увлечений
        .exercises__desc
          p.exercises__lead
            | Примерная длительность
            br
            | упражнения: 2 часа

          p.exercises__text-smaller
            | Поищем интересы и увлечения в сфере развлечений. Именно во всем несерьезном прячется то, что мы любим и изучаем с удовольствием. Детские игры сменяются взрослыми играми, но именно в игре мы растем, развиваем новые навыки, отдыхаем и заряжаемся энергией. Наши несерьезные занятия – это то, что помогает избежать выгорания.

          p.exercises__text-smaller
            | Можете заварить чашечку чая, сесть поудобнее и взять любимую ручку. Будем вспоминать и отвечать на вопросы:
          
          ul.exercises__ol
            li.exercises__o-li
              | Какие книги, журналы вы читаете «запоем»? Почему именно их?
              hr
              hr
              hr
            li.exercises__o-li
              | Какие сайты, группы в соц.сетях, инстаграм страницы с удовольствием листаете в свободную минуту, например, в самолете, в очереди, в салоне красоты?
              br
              | Что в них интересно?
              hr
              hr
              hr
            li.exercises__o-li
              | Какие фильмы, сериалы, видео на ютьюб вам нравятся? Что они дают и чем привлекают?
              hr
              hr
              hr
            li.exercises__o-li
              | Делаем выводы: каких тем оказалось больше всего в ваших интересах? Что вы уже сегодня изучаете с интересом, но относитесь к этому несерьезно? Есть ли сфера, которая может рансформироваться или дополнить рабочую деятельность?
              hr
              hr
              hr
        
        h2.title.title--exercises
          | Упражнение 5.2. Ваши герои
        .exercises__desc
          p.exercises__lead
            | Примерная длительность
            br
            | упражнения: 1,5 часа

          p.exercises__text-smaller
            | В этом упражнении надо перечислить, кого из людей вы считаете выдающимися. Кто вызывают восхищение? Это могут быть как знакомые люди, так и те, о ком вы узнали из фильмов, новостей или книг. Может быть, это ваш друг, открывший бизнес, или подруга, победившая булимию. А может быть, это Винни-Пух и его смекалка. Не важно насколько реальны ваши герои или насколько серьезны их достижения, главное, чтобы они вызывали настоящее чувство восхищение у вас.

          ul.exercises__ul
            li.exercises__u-li
              | Напишите имена своих героев и что в них восхищает:
              hr
              hr
              hr
            li.exercises__u-li
              | Вопрос для дополнительных размышлений:
              p.exercises__text-smaller
                | Чаще всего те качества, которые нам нравятся в других, мы хотим развивать и в себе. Подумайте об этом, и, возможно, вам захочется взять какие-то качества/ компетенции в зону вашего ближайшего развития (упражнение 5.5)


