.modal.modal--success#modal-success(aria-hidden='true')
  .modal__overlay(tabindex='-1', data-micromodal-close)
    .modal__container(role='dialog', aria-modal='true')
      button.modal__close(aria-label='Закрыть попап', data-micromodal-close)
      main.modal__content
      
        //- modal content

        p.title.title--success
          | 
        p.success__notes
          | 
        button.button.button--stack(data-micromodal-close) Закрыть
