/*------------------------------------*\
  #AUTHORS
\*------------------------------------*/

.authors {
  padding-bottom: 40px;

  
  @media (min-width: 62em) {
    padding-bottom: 80px;
  }

  @media (min-width: 80em) {
    padding-bottom: 100px;
  }

  @media (min-width: 90em) {
    padding-bottom: 135px;
  }

  &__grid {
    margin-left: -16px;
    margin-right: -16px;

    > [class*=pure-u] {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__img {
    display: none;

    @media (min-width: 62em) {
      position: relative;
      width: 253px;
      height: 190px;
      margin-top: 95px;
      margin-left: 40px;
    }

    &-svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__picture {
    margin: 0 -28px;
    text-align: right;

    @media (min-width: 36em) {
      margin: 0;
    }
  }

  &__grid-inner {
    margin-top: -35px;

    @media (min-width: 36em) {
      margin-top: -284px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__col-inner {
    width: 100%;

    @media (min-width: 36em) {
      flex-basis: 50%;
      max-width: 50%;
      padding-right: 8%;
    }
    
    @media (min-width: 90em) {
      padding-right: 17%;
    }

    &--right {

      @media (min-width: 36em) {
        padding-top: 50px;
      }

      @media (min-width: 48em) {
        padding-top: 60px;
      }
    }
  }

  &__site {

    @media (max-width: 35.99em) {
      text-align: center;
    }
  }
}