/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {

  &__nav {
    display: flex;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 67px;
  }
}