/*------------------------------------*\
  #HAMBURGER
\*------------------------------------*/

.hamburger {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 21px;
  cursor: pointer;

  &:focus {
    outline: none;
    opacity: 0.6;
  }


  @media (min-width: 36em) {
    display: none;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}