/*------------------------------------*\
  #LANG-SWITCHER
\*------------------------------------*/

.lang-switcher {
  display: flex;

  &__item {
    font-size: rem(16);
    line-height: 1.15;
    text-transform: uppercase;

    &.is-current {
      font-weight: bold;
    }

    &:not(:last-child):after {
      content: '\a0/\a0';
    }

    .lang-switcher--mobile & {
      font-size: rem(22);
      line-height: 1.45;
    }
  }

  &__link {
    transition: 0.25s ease-out;

    &:focus {
      outline: none;
      opacity: 0.65;
    }
  }

  &:hover .lang-switcher__link:not(:hover) {
    opacity: 0.4;
  }

  &--header {

    @media (max-width: 35.99em) {
      display: none;
    }
  }
}