/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu {

  &__item {
    font-size: rem(16);
    line-height: 1.15;
    text-transform: uppercase;
    user-select: none;

    &.is-current {
      font-weight: bold;
    }
  }

  &--primary {
    line-height: 1.15;

    @media (min-width: 36em) {
      display: flex;
      flex-wrap: wrap;
      margin-right: auto;
    }
    

    .menu__item {
      transition: 0.25s ease-out;
      margin-right: 36px;

      @media (min-width: 80em) {
        margin-right: 50px;
      }

      &:last-child {
        margin-right: 0;
      }
      
      &:focus {
        outline: none;
        opacity: 0.65;
      }

      @media (max-width: 35.99em) {
        font-size: rem(22);
        margin-right: 0;
        
        &:not(.is-current) {
          display: none;
        }
      }
    }

    &:hover .menu__item:not(:hover) {
      opacity: 0.4;
    }
  }


  &--mobile {
    margin-bottom: 150px;

    .menu__item {
      display: block;
      font-size: rem(22);
      line-height: 1.45;
      
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}



.mobile-nav {
  visibility: hidden;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    background: $primary-color;
    visibility: hidden;
    transition:
      opacity .35s,
      visibility .35s,
      height .35s;
    overflow: hidden;
    z-index: 999;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 140px;
    padding-bottom: 50px;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 1000;
  }

  &__close {
    display: block;
    position: absolute;
    top: 32px;
    left: 32px;
    width: 24px;
    height: 24px;
    font-size: 30px;
    line-height: 0;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:before {
      content: "\2715";
    }
  }

}

.mobile-nav.is-active {
  visibility: visible;
  z-index: 999;
  

  .mobile-nav__overlay {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
}