footer.footer
  .container
    .footer__content
      ul.socials.socials--footer
        li.socials__item
          a.socials__link(href="#", target="_blank", rel="noopener") Facebook
        li.socials__item
          a.socials__link(href="#", target="_blank", rel="noopener") YouTube
      
      ul.contact-list.contact-list--footer
        li.contact-list__item
          a.contact-list__link(href="mailto:hi@earninlove.com") hi@earninlove.com
        li.contact-list__item
          a.contact-list__link(href="tel:+79262119994") +7 (926) 211-99-94

      form.form.form--footer(action="")
        .form__wrapper
          label.visuallyhidden(for="user-email") Ваш email
          input.form__input#user-email(
            type="email",
            name="user-email",
            placeholder="Ваш email"
          )
        button.button.button--form-footer(type="submit") Подписаться